# Java
*.class
*.log
*.jar
*.zip
*.tar.gz
*.rar
hs_err_pid*


# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/buildSrc/build
/buildSrc/subprojects/*/build
/subprojects/*/build
/subprojects/docs/src/samples/**/build
/subprojects/internal-android-performance-testing/build-android-libs

# Intellij
*.iml
*.ipr
*.iws
.idea/
out/


# Eclipse
.classpath
.project
.settings/


# VS Code
.vscode/


# Environment
.env
.DS_Store
Thumbs.db


# Security
*.jks
*.key
*.crt
*.pem
*.gpg