# Java
*.class
*.log
*.jar
*.zip
*.tar.gz
*.rar
hs_err_pid*


# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
target/


# Intellij
*.iml
*.ipr
*.iws
.idea/
out/


# Eclipse
.classpath
.project
.settings/


# VS Code
.vscode/


# Environment
.env
.DS_Store
Thumbs.db


# Security
*.jks
*.key
*.crt
*.pem
*.gpg