language: java
install: true
os: linux
dist: trusty

git:
  depth: false

addons:
  sonarcloud:
    organization: $TRAVIS_REPO_OWNER
    token:
      secure: $SONAR_TOKEN

jdk:
  - openjdk11

before_install:
  - chmod +x gradlew

script:
  - ./gradlew -Pversion=$VERSION test jacocoTestReport sonarqube --scan --parallel --build-cache

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -fr $HOME/.gradle/caches/*/scripts/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.sonar/cache/