name: Auto-merge Dependabot PRs

on: pull_request_target

jobs:
  merge-dependabot-pr:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@5ef00187930bafb52d529e0b9c3dff045dfa9851

      - name: Enable auto-merge for minor updates
        if: ${{ steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr review --approve ${{ github.event.pull_request.html_url }}
          gh pr merge --auto --squash ${{ github.event.pull_request.html_url }}