name: Build CI

on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
    paths:
      - .github/workflows/build.yml
      - gradle/**
      - build.gradle.kts
      - settings.gradle.kts
      - gradle.properties
  workflow_dispatch:
    inputs:
      job_count:
        description: Max concurrent jobs to execute

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  fork:
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    outputs:
      job_count: ${{ steps.job.outputs.count }}
      job_sid: ${{ steps.job.outputs.sid }}
    steps:
      - name: Assign job IDs
        id: job
        run: |
          # set default as inputs resolve only at manual executions
          JOB_COUNT=${{ github.event.inputs.job_count || 40 }}
          echo "count=$JOB_COUNT" >> $GITHUB_OUTPUT
          echo "sid=[`seq -s , 1 $JOB_COUNT`]" >> $GITHUB_OUTPUT

  # ------------------------
  test:
    needs: fork
    runs-on: ubuntu-24.04
    timeout-minutes: 8
    strategy:
      matrix:
        job_sid: ${{ fromJSON(needs.fork.outputs.job_sid) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v4

      - name: Test project
        run: |
          ./gradlew test jacocoTestReport -x processResources -x processTestResources \
            --parallel \
            --configuration-cache \
            --build-cache \
            --no-daemon \
            --scan \
            --no-problems-report \
            -DforkCount=${{ needs.fork.outputs.job_count }} \
            -DforkSid=${{ matrix.job_sid }}

      - name: Pack fork artifacts
        run: |
          find . -path "*/main/*.class" -o -path "*/test/*.class" -o -path "*/jacocoTestReport.xml" > artifacts
          tar czfT artifacts.tar.gz artifacts

      - name: Upload fork artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: fork-${{ matrix.job_sid }}
          retention-days: 1
          path: artifacts.tar.gz

  # ------------------------
  scan:
    needs: test
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    env:
      VERSION: 1.26.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Download fork artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0

      - name: Unpack fork artifacts
        run: for f in fork-*/artifacts.tar.gz; do tar xf $f && rm $f; done

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v4
        with:
          add-job-summary-as-pr-comment: always

      - name: Analyze code quality
        env:
          SONAR_KEY: ${{ secrets.SONAR_KEY }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonar -x compileJava -x compileTestJava \
            --parallel \
            --configuration-cache \
            --build-cache \
            --no-daemon \
            --scan \
            --no-problems-report \
            -Pversion=${{ format('{0}+{1}', env.VERSION, github.RUN_NUMBER) }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.organization=$SONAR_KEY \
            -Dsonar.qualitygate.wait=true \
            -Dsonar.gradle.skipCompile=true