name: Kata PR Analysis

on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
    paths:
      - kata/**/*.java
      - '!kata/retired/**'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  analysis:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write
    env:
      VERSION: 1.26.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Modified projects
        id: projects
        run: |
          CHANGED_FILES=$(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }})
          echo "Changed files: $CHANGED_FILES"
          CHANGED_PROJECTS=""
          DIRS=""
          TASKS=""
          for file in $CHANGED_FILES; do
            if [[ $file == *.java ]]; then
              PROJECT_HOME=$(echo $file | cut -d'/' -f1-3)
              RANK=$(basename "$(dirname "$PROJECT_HOME")")
              if [[ "$RANK" != "retired" && ! ",$CHANGED_PROJECTS," =~ ",$PROJECT_HOME," ]]; then
                CHANGED_PROJECTS="$CHANGED_PROJECTS,$PROJECT_HOME"
                DIRS="$DIRS,$PROJECT_HOME/**"
                PROJECT_NAME=$(basename "$PROJECT_HOME")
                TASKS="$TASKS :$PROJECT_NAME:test :$PROJECT_NAME:jacocoTestReport"
              fi
            fi
          done
          echo "dirs=${DIRS#,}" >> $GITHUB_OUTPUT
          echo "tasks=${TASKS# }" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v4
        with:
          add-job-summary-as-pr-comment: always

      - name: Analyze code quality
        env:
          SONAR_KEY: ${{ secrets.SONAR_KEY }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew ${{ steps.projects.outputs.tasks }} sonar -x processResources -x processTestResources\
            --parallel \
            --configuration-cache \
            --build-cache \
            --no-daemon \
            --scan \
            --no-problems-report \
            -Pversion=${{ format('{0}+{1}', env.VERSION, github.RUN_NUMBER) }} \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.organization=$SONAR_KEY \
            -Dsonar.inclusions=${{ steps.projects.outputs.dirs }} \
            -Dsonar.qualitygate.wait=true \
            -Dsonar.gradle.skipCompile=true